<h2 mat-dialog-title>{{data.mensagem}}</h2>
<mat-dialog-content>
    <input #fileUpload
        type="file"
        class="input_fileupload--hidden"
        (input)="onInput($event)"
        (change)="onFileSelected($event)"
        [(ngModel)]="inputFileName"
        [accept]="accept">

    <div *ngFor="let f of files">
        <span>{{f.name}}</span>
        <button mat-icon-button
        color="primary"
        [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
        (click)="removeFile(event,f)">
            <mat-icon>{{deleteButtonIcon}}</mat-icon>
        </button>
    </div><br/>
    <span style="color: red; font-weight: bold;">{{mensagemValidacaoArquivo}}</span>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="salvarAnexo()">Salvar</button>&nbsp;&nbsp;
    <button class="mat-raised-button" (click)="close()">Cancelar</button>
</mat-dialog-actions>
